html, body {
  height: 100%;
  /* display: flex; */
  /* position: relative; */
  /* max-width: 100vw; */
  margin: 0;
  font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  color: var(--psh-night);
}

.grid-container {
  display: grid;
  /* width: 100%; */
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) var(--header-height) 1fr;
  grid-template-areas: "logo" "search" "content";
}

.logo {
  grid-area: logo;
  background: var(--logo-background);
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* max-width: 100vw; */
}

.search {
  display: grid;
  grid-template-columns: 1fr var(--header-height);
  grid-template-rows: 1fr;
  grid-template-areas: "search-area hamburger-area";
  background: var(--sidebar-background);
  grid-area: search;
  /* max-width: 100vw; */
}

/* .search-area {
  grid-area: search-area;
} */

.hamburger-area {
  grid-area: hamburger-area;
  /* border-left: 1px solid var(--logo-background); */
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "banner" "main";
  grid-area: content;
}

.banner {
  grid-area: banner;
  background-color: var(--psh-sunglow);
  padding: 1.5rem 5rem;
  margin-top: 1rem;
}

.main {
  grid-area: main;
  margin: 3rem 5rem;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
} */
