<!-- Get the current style data -->



{{ $style := index .Site.Data.docs .Site.Data.docs.default.docstyle }}
{{ if (isset .Site.Params "docstyle") }}
    {{ $style = index .Site.Data.docs .Site.Params.docstyle }}
{{ end }}

<!-- Set the logo link -->
{{ $logoLink := index $style "header" "logo" "link" }}


<!-- Docs 2 -->
<!-- <a class="link-dark mr-lg-7 mr-0 mr-md-5" href="{{ $logoLink }}"> -->

<!-- Docs 1 -->
<a class="navbar-brand bg-md-primary-darker col-md-3 col-xl-2 mr-0 py-4" href="{{ $logoLink }}">
<!-- <a class="navbar-brand bg-md-primary-darker col-md-3 col-xl-2 mr-0 py-3" href="{{ $logoLink }}"> -->



  <!-- Set the logo image -->
  {{ $logo := index $style "header" "logo" "image" }}
  <!-- Adjusted from the original width: 150px; for now -->
  <img class="mr-1" src="{{ $logo | relURL }}" alt="Docs UI Kit" style="max-width: 173px;">

  <!-- Version badge -->
  {{ $showVersion := index $style "header" "logo" "showVersionBadge" }}
  {{ if $showVersion }}
    {{ $version := index .Site.Data.docs.default.version }}
    {{ if ( isset .Site.Params "version" ) }}
      {{ $version = .Site.Params.version}}
    {{ end }}
    <span class="small">
      <span class="badge badge-light text-space-1">{{ $version }}</span>
    </span>
  {{ end }}

</a>
