<!-- Get the current style data -->
{{ $test := index .Site.Data.docs .Site.Data.docs.default.docstyle }}
{{ if (isset .Site.Params "docstyle") }}
    {{ $test = index .Site.Data.docs .Site.Params.docstyle }}
{{ end }}

{{ $showHeaderSearch := index $test "header" "search" }}
{{ if ($showHeaderSearch) }}
  <input class="js-search border-0 d-none d-md-block form-control form-control-sm w-100 ml-md-4" type="text" placeholder="Search..." aria-label="Search..." data-url="{{ "static/docsuikit/assets/include/json/autocomplete-data-for-documentation-search.json" | relURL }}">
{{ end }}

<!-- REMOVE: Currently a catch for docs1 above -->
<!-- <br> -->
<!-- <input class="js-search border-0 d-none d-md-block form-control form-control-sm w-100 ml-md-4" type="text" placeholder="Search..." aria-label="Search..." data-url="{{ "static/docsuikit/assets/include/json/autocomplete-data-for-documentation-search.json" | relURL }}"> -->
