<!--  Meta tags -->

<meta name="description" content="{{ .Params.description }}">


<!-- Description -->
<!-- {{ if isset .Page.Params "description" }}
  <meta name="description" content="{{ .Page.Description }}">
{{ else if isset .Site.Params "meta" }}
  {{ if isset .Site.Params.meta "description" }}
    <meta name="description" content="{{ .Site.Params.meta.description }}">
  {{ end }}
{{ end }} -->

<!-- Keywords -->
<!-- {{ if isset .Site.Params "meta" }}
  {{ if isset .Site.Params.meta "keywords" }}
    <meta name="keywords" content="{{ range .Site.Params.keywords }}{{ . }},{{ end }}">
  {{ end }}
{{ end }} -->
