<!-- Schema.org -->
<meta itemprop="name" content="{{ .Params.description }}">
<meta itemprop="image" content="{{ .Site.Params.meta.image }}">


<!-- {{ if isset .Page.Params "description" }}
  <meta name="description" content="{{ .Page.Params.description }}">
{{ else if isset .Site.Params "meta" }}
  {{ if isset .Site.Params.meta "description" }}
    <meta name="description" content="{{ .Site.Params.meta.description }}">
  {{ end }}
{{ end }}

{{ if isset .Site.Params "meta" }} -->

  <!-- Short description  -->
  <!-- {{ if isset .Site.Params "description" }}
    <meta itemprop="name" content="{{ .Site.Params.description }}">
  {{ end }} -->

  <!-- Thumbnail -->
  <!-- {{ if isset .Site.Params.meta "image" }}
    <meta itemprop="image" content="{{ .Site.Params.meta.image }}">
  {{ end }}

{{ end }} -->
