{{ define "main" }}
  {{ $glossary := .Site.Data.glossary }}
  <main class="ml-sm-auto col-md-9 col-lg-10 px-4 pt-0 pt-md-11">
    <div class="row pt-3">
  <!-- <main> -->
    <!-- <div class="row"> -->


      <!-- <div class="col-xl-10 order-xl-1 duik-content"> -->
      <div class="col-xl-12 order-xl-1 duik-content">
        <!-- {{ range .Pages }}
          {{ . }}<br>
        {{ end }} -->
        <!-- {{ partial "glossary-entries" ( partial "headline-hash.html" .Content ) }} -->
        <!-- {{ partial "glossary-entries" (dict "glossary" $glossary "dot" ( partial "headline-hash.html" .Content ) ) }} -->
        {{ partial "modify-content" ( dict "glossary" $glossary "dot" .Content)}}
      </div>
    </div>
    {{ partial "footer/footer" . }}
  </main>
{{ end }}
