@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      50px /* Header */
      50px /* Nav */
      1fr; /* Content */
  }
}

@media (max-width: 1200px) {

  .container {
    grid-template-areas:
      "header header header"
      "nav content content";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
  }

  aside {
    display: none;
  }

  main {
    /* top | right | bottom | left */
    margin: 5rem 2.5rem 5rem 2.5rem;
  }

}
