<div class="dynamic-button">
  <button onclick="window.location.href = '#buttons';" type="button" class="btn2 btn-block btn-primary2">
    <h3>External integrations</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis dolor quam. In hac habitasse platea dictumst. Curabitur et eros id urna dapibus molestie sit amet quis ligula. Ut maximus magna ipsum, nec tempor nisi consectetur placerat. </p>
    <p>Nulla facilisi. In hac habitasse platea dictumst. Donec faucibus, odio id dignissim placerat, orci ligula feugiat libero, id cursus urna orci eget magna. Sed vel dolor metus. Donec a aliquet lectus. Etiam ultricies, erat lacinia posuere fermentum, mi lacus faucibus ex, eu scelerisque libero lorem nec neque. Nullam condimentum vehicula odio vel ullamcorper.</p>
  </button>
</div>

<div class="dynamic-button">
  <button onclick="window.location.href = '#buttons';" type="button" class="btn2 btn-block btn-primary2">
    <h3>External integrations</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis dolor quam. In hac habitasse platea dictumst. Curabitur et eros id urna dapibus molestie sit amet quis ligula. Ut maximus magna ipsum, nec tempor nisi consectetur placerat. </p>
    <p>Nulla facilisi. In hac habitasse platea dictumst. Donec faucibus, odio id dignissim placerat, orci ligula feugiat libero, id cursus urna orci eget magna. Sed vel dolor metus. Donec a aliquet lectus. Etiam ultricies, erat lacinia posuere fermentum, mi lacus faucibus ex, eu scelerisque libero lorem nec neque. Nullam condimentum vehicula odio vel ullamcorper.</p>
  </button>
</div>

<div class="dynamic-button">
  <button onclick="window.location.href = '#buttons';" type="button" class="btn2 btn-block btn-primary2">
    <h3>External integrations</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis dolor quam. In hac habitasse platea dictumst. Curabitur et eros id urna dapibus molestie sit amet quis ligula. Ut maximus magna ipsum, nec tempor nisi consectetur placerat. </p>
    <p>Nulla facilisi. In hac habitasse platea dictumst. Donec faucibus, odio id dignissim placerat, orci ligula feugiat libero, id cursus urna orci eget magna. Sed vel dolor metus. Donec a aliquet lectus. Etiam ultricies, erat lacinia posuere fermentum, mi lacus faucibus ex, eu scelerisque libero lorem nec neque. Nullam condimentum vehicula odio vel ullamcorper.</p>
  </button>
</div>
