<div class="dynamic-button">
  <button type="button" onclick="window.location.href = '#buttons';" type="button" class="btn2 btn-secondary2">
    <span class="icon"><img class="chevron-back" aria-hidden="true" src="/images/icons/chevrons.svg" /></span>
    <span class="text-button-back">Back</span>
  </button>
  <button onclick="window.location.href = '#buttons';" type="button" class="btn2 btn-primary2">
    <span class="text-button-">View all</span>
    <span class="icon"><img class="chevron-next2" aria-hidden="true" src="/images/icons/chevrons.svg" /></span>
  </button>
</div>
