@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,500,700,900");
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

:root {

  /* Platform.sh */
  /* Primary colors */
  --psh-black: #171719;
  --psh-night: #2D282B;
  --psh-gray: #444344;
  --psh-light-gray: #9E979B;
  --psh-stone: #C4BCC0;
  --psh-smoke: #EAE5E7;
  --psh-ghost-white: #F4F2F3;
  --psh-blue: #145CC6;
  --psh-pink: #FFBDBB;
  --psh-light-pink: #FFD9D9;
  --psh-dark-pink: #FF9F9F;

  /* Support colors */
  --psh-parsley: #1F5E19;
  --psh-candy-green: #289B3F;
  --psh-pastel-green: #71DB82;
  --psh-light-blue: #A9CDF4;
  --psh-yellow: #EDA900;
  --psh-sunglow: #FCC93B;
  --psh-orange: #FF7B22;
  --psh-carrot: #DD5D05;
  --psh-aqua: #7BD8DB;
  --psh-java: #23B7B7;
  --psh-bold-red: #FB3728;

  /* COLORS */

  /* Header */
  --header-background-color: var(--psh-night);
  --header-font-color: #FFFFFF;
  --logo-background-color: var(--psh-night);
  --booklinks-background-color: var(--psh-night);
  --widget-background-color: var(--psh-night);

  /* Sidebar */
  --sidebar-background-color: var(--psh-smoke);
  --primary-accent: var(--psh-blue);
  --secondary-accent: var(--psh-pink);


  /* (PSH) */
  /* --logo-background-color: var(--psh-night);
  --header-background-color: var(--psh-night);
  --header-font-color: #FFFFFF;
  --sidebar-background-color: var(--psh-smoke);
  --primary-accent: var(--psh-blue);
  --secondary-accent: var(--psh-pink); */

  /* (Avocadocs) */
  /* --logo-background: var(--psh-parsley);
  --sidebar-background: var(--psh-smoke);
  --primary-accent: var(--psh-candy-green);
  --secondary-accent: var(--psh-pastel-green); */


  /* Layout */
  --header-height: 80px;

}
