<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    <div class="container">
      <!-- Header content -->
      {{ partial "body/header" . }}

      <!-- Sidebar/dropdown navigation -->
      <nav class="nav">
        navigation
      </nav>

      <!-- Main content -->
      <main class="main">
        {{ block "main" . }}{{ end }}
      </main>

      <!-- Floating TOC -->
      <aside  class="aside">
        {{ partial "body/side-toc" . }}
      </aside>

    </div>
  </body>
</html>
