.accordian-content {
  overflow: hidden;
  display: none;
}
.accordian input:checked ~ .accordian-content {
  display: block;
}

/* [THE ENTIRE TAB] */
.accordian {
  position: relative;
  margin: 2px;
  /* max-width: 600px; */
}

/* [THE LABEL] */
.accordian input {
  display: none;
}
.accordian label {
  display: block;
  /* background: var(--primary-accent); */
  /* box-shadow: 0px 0.15rem 0.15rem rgba(152, 160, 171, 0.35); */
  /* border-top: 1px solid var(--psh-smoke);
  border-left: 1px solid var(--psh-smoke);
  border-right: 1px solid var(--psh-smoke);
  border-bottom: 1px solid var(--psh-smoke); */
  /* color: #FFFFFF; */
  /* font-family: Moderat, Helvetica Neue, Arial; */
  font-size: 20px;
  font-weight: 700;
  padding: 1rem 2rem;
  /* line-height: 42px; */
  cursor: pointer;
}
.accordian label::before {
  /* content: "\25b6"; */
  content: url("/images/icons/chevrons.svg");
  position: absolute;
  left: -5px;
  top: 17px;
  /* margin-right: 1rem; */
  display: block;
  transition: all 0.4s;
}

.accordian input[type=radio]:checked + label::before {
  transform: rotate(90deg);
}

.accordian input[type=radio]:checked + label {
  /* background: var(--primary-accent); */
  border-bottom: none;

}

/* [THE CONTENTS] */
.accordian-content {
  /* overflow: hidden; */
  display: none;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: auto 50px;
  grid-gap: 10px;
  background: #FFFFFF;
  /* border-left: 1px solid var(--psh-smoke); */
  border-left: 2px solid #fb3728;
  /* border-right: 1px solid var(--psh-smoke);
  border-bottom: 1px solid var(--psh-smoke); */
  /* box-shadow: 0px 0.5rem 0.5srem rgba(152, 160, 171, 0.35); */
  /* CSS animation will not work with auto height */
  /* This is why we use max-height */
  transition: display 0.1s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  /* max-height: 0; */
  padding: 10px;
  /* height: 200px; */
}
.accordian-content p {
  margin: 20px;
}

.accordian-content h1,
.accordian-content h2,
.accordian-content h3,
.accordian-content h4,
.accordian-content h5,
.accordian-content h6 {
  margin: 20px;
}

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 200px;
} */

.accordian-content > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  padding: 20px 0;
  /* font-size: 30px; */
}

.template-image {
  grid-column: 1;
  grid-row: 1;
  /* text-align: center;
  align-items: center;
  vertical-align: middle; */
  margin: auto;
  display: flex;
}
.template-logo {
  min-width: 200px;
  min-height: 200px;
  max-height: 350px;
  max-width: 350px;
  /* align-items: center;
  display: flex;
  text-align: center; */
}
.template-description {
  grid-column: 2;
  grid-row: 1;
}

.template-deployonpsh {
  grid-column: 1;
  grid-row: 2;
  /* background-color: var(--psh-light-pink); */
  /* text-align: center; */
  margin: auto;
  padding: 0 !important;
  /* display: flex; */
}

.template-source {
  grid-column: 2;
  grid-row: 2;
  /* background-color: var(--psh-light-blue); */
  /* margin: auto; */
  /* padding: 0 !important; */
  align-items: center;
  display: flex;
  margin-left: 20px;
  /* padding: 20px 0; */
  /* text-align: right; */
}

.template-source div {
  margin: 0px !important;
  background: url("/images/icons/GitHub-Mark-32px.png") no-repeat;
  background-size: contain;
  padding-left: 2rem;
  /* display: flex !important; */
}

.template-source div:hover {
  opacity: 0.75;
  /* margin: 0px !important;
  background: url("/images/icons/GitHub-Mark-32px.png") no-repeat;
  background-size: contain;
  padding-left: 2rem; */
  /* display: flex !important; */
}

.template-source a {
  /* background: url("/images/icons/GitHub-Mark-32px.png") no-repeat;
  background-size: contain; */
  text-decoration: none;
  color: var(--psh-night);
  font-weight: inherit;
  /* margin-left: 1rem; */
  /* margin: 0px !important; */
}

/* .template-source::before { */
  /* background: url("/images/icons/GitHub-Mark-32px.png"); */
  /* margin-left: 20px;
  display: inline-block;
  vertical-align: text-top !important; */
  /* height: 16px; */
/* } */

.accordian input:checked ~ .accordian-content {
  /* Set the max-height to a large number */
  /* Or 100% viewport height */
  /* max-height: 500px; */
  display: grid;
}

/* .view-source-button {
  background-color: var(--psh-light-blue);
  border: none;
  color: var(--psh-night);
  padding: auto;
  width: 180px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9rem;
  margin: 4px 2px;
  cursor: pointer;
} */


/* [DOES NOT MATTER] */
/* html, body {
  font-family: arial;
  background: #f2f2f2;
} */
