
.qas {

}

.qa-summary {
  /* box-shadow: 0px 0.15rem 0.15rem rgba(152, 160, 171, 0.35); */
  border: 2px solid var(--psh-ghost-white);
  padding: 0.75rem;
  margin: 0.5rem 0rem;
}

.qa-summary td, .qa-summary th {
    text-align: left;
}

/* .qa-summary tr:nth-child(even) {
  background-color: #dddddd;
} */
