.edit-page-button {
  /* border: 1px solid red; */
  /* height: 30px; */
  padding: 0.3rem 1rem;
  /* width: 100px; */
  background-color: var(--psh-pink);
  color: var(--psh-night);
  border: none;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0.25rem 0.25rem rgba(152, 160, 171, 0.35);
  font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.edit-page-button:hover {
  background-color: var(--psh-blue);
  color: white;
}
