.mermaid {
  text-align: center;
}

svg [class*='mermaid-']{
  max-width: 100px;
}

/*
.node rect {
  fill: var(--psh-light-blue) !important;
  stroke: var(--psh-light-blue) !important;
  width: 900px !important;
  height: 50px;
  x: -50;
  y: -20;
} */
