/* @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
*, *:before, *:after {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.tabs {
    /* background: var(--primary-accent);
    color: #FFFFFF; */
    background-color: var(--psh-light-blue);
    color: var(--psh-night);
    /* border: 1px solid var(--psh-night); */
    box-shadow: 0px 0.5rem 0.5rem rgba(152, 160, 171, 0.35);
}
/* You can safely remove the next two lines */
/* .top {
    padding-right: 20px;
    background: #261F41;
    text-align: right;
} */
/* a {
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
} */
/* h1 {
   padding: 100px 0;
    font-weight: 400;
    text-align: center;
} */
/* p {
   margin: 0 0 20px;
    line-height: 1.5;
} */
/* .main {
   margin: 0 auto;
    min-width: 320px;
    max-width: 800px;
} */
.tab-content {
    background: #FFFFFF;
    /* background: var(--psh-ghost-white); */
    color: var(--psh-night);
    height: 400px;
    overflow-y: scroll;
}
.tab-content > div {
   display: none;
    padding: 20px 25px 5px;
}
.tab-input {
   display: none;
}
.tab-label {
   display: inline-block;
    padding: 1rem;
    text-align: center;
}
.tab-label:hover {
   /* color: #fff; */
   background-color: var(--psh-light-pink);
   /* color: var(--psh-night); */
   cursor: pointer;
}
.tab-input:checked + .tab-label {
    /* background: var(--secondary-accent);
    color: var(--psh-night); */
    background-color: var(--psh-light-pink);
    color: var(--psh-night);
}
#tab1:checked ~ .tab-content #content1, #tab2:checked ~ .tab-content #content2, #tab3:checked ~ .tab-content #content3, #tab4:checked ~ .tab-content #content4 {
    display: block;
}
@media screen and (max-width: 400px) {
    .tab-label {
       padding: 15px 10px;
   }
}
