.welcome{
  text-align: center;
  margin-bottom: 2.5rem;
  /* background-color: var(--psh-light-blue); */
}

.welcome-logo-img {
  max-width: 30%;
  margin-bottom: 1.5rem;
}

.welcome-msg {
  /* display: none; */
  font-size: 18px;
  /* font-family: Overpass Mono; */
  margin-bottom: 2.5rem;
  /* font-style: italic; */
}
