<!-- Responsive Toggle Button -->
<button class="btn btn-link pl-0 d-md-none hamburger" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
  </svg> -->
  <svg width="30" height="12" viewBox="0 0 30 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h30v2H0z" fill="#000"></path><path d="M0 10h30v2H0z" fill="#000"></path></svg>
</button>
<!-- End Responsive Toggle Button -->
