<!-- Sidebar -->
<!-- <nav class="col-md-3 col-lg-2 duik-sidebar border-md-right navbar-expand-md"> -->

<nav class="col-md-3 col-xl-2 bg-light duik-sidebar navbar-expand-md">
  <!-- <div class="d-flex d-md-none justify-content-between mb-5"> -->
  <!-- <br> -->
  <div class="d-flex justify-content-between mb-3">
    <!-- Sidebar search -->
    {{ partial "navigation/sidebar/search" . }}
    <!-- Sidebar Responsive Toggle -->
    {{ partial "navigation/sidebar/hamburger" . }}
  </div>

  <!-- Sidebar Nav -->
  <div class="collapse navbar-collapse border-bottom border-md-0" id="sidebar-nav">
    <div class="js-scrollbar duik-sidebar-sticky">

      {{ partial "navigation/sidebar/nav" . }}
      {{ partial "inject/menu-after" . }}
    </div>
  </div>
  <!-- End Sidebar Nav -->

</nav>
<!-- End Sidebar -->
