<div class="sidebar">
  <div class="search">
    <div class="search-area">
      <div class="search-icon">
        <img class="search-icon-svg" src="{{ "img/icons/search-solid.svg" | relURL }}" alt="search-icon">
      </div>
      <!-- <div class="search-box"> -->
      <form class="search-box">
        <input class="search-input" type="text" placeholder="Search Platform.sh" name="search">
        <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
      </form>
      <!-- </div> -->
    </div>
  </div>
  <div>

    {{ range .Site.Sections }}
      <!-- Check if separate book -->
      {{ $section_url := .Permalink }}
      {{ if eq .Section "home" }}
        {{ $section_url = "/" }}
      {{ end }}
      <h3 class="sidebar-header"><a class="sidebar-link-header" href="{{ $section_url }}">{{ .Title }}</a></h3>
      <ul class="sidebar-group">
      {{ range .Pages }}
        <li class="sidebar-item"><a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    {{ end }}

    <hr class="sidebar-divide">

</div>
