{{- $currentPage := .Page -}}
{{- $currentRelLink := .Page.RelPermalink -}}
{{- $homeBook := .Site.Params.homebook -}}
{{- $currentSection := .Page.Section -}}

<!-- Get list of books -->
{{ $keys := slice }}
{{ range $key, $value := .Site.Params.books }}
  {{ $keys = $keys | append $key }}
{{ end }}

<div class="sidebar">
  <div class="search">
    <div class="xssroot">
      <div class="search-icon">
        <img class="search-icon-svg" src="{{ "img/icons/search-solid.svg" | relURL }}" alt="search-icon">
      </div>
      <!-- <div class="search-box"> -->
      <form class="search-box">
        <input class="search-input" type="text" placeholder="Search Platform.sh" name="search">
        <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
      </form>
      <!-- </div> -->
    </div>
  </div>
  <div class="sidebar-entries">

    <!-- Reglar Pages/"home book" -->
    {{ if not ( and ( in $keys $currentSection) (ne $homeBook $currentSection) ) }}

      {{ range .Site.Sections }}
        <!-- Check if separate book -->
        {{ $section_url := .Permalink }}
        {{ if eq .Section "home" }}
          {{ $section_url = "/" }}
        {{ end }}

        {{ $headerClass := "sidebar-header" }}
        {{ if eq $currentPage . }}
            {{ $headerClass = "sidebar-header-active" }}
        {{ else if and (eq .Section "home") (eq $currentRelLink "/") }}
            {{ $headerClass = "sidebar-header-active" }}
        {{ end }}
        {{ if or (not ( in $keys .Section )) ( eq .Section $homeBook ) }}
          <h3 class="{{ $headerClass }}"><a class="sidebar-link-header" href="{{ $section_url }}">{{ .Title }}</a></h3>
          <ul class="sidebar-group">
          {{ range .Pages }}
            <li class="sidebar-item{{ if eq $currentPage . }}-active{{ end }}"><a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          <hr class="sidebar-divide">
        {{ end }}
      {{ end }}

    {{ else }}
      {{ $headerClass := "sidebar-header" }}
      {{ if eq $currentPage . }}
          {{ $headerClass = "sidebar-header-active" }}
      {{ else if and (eq .Section "home") (eq $currentRelLink "/") }}
          {{ $headerClass = "sidebar-header-active" }}
      {{ end }}

      <h3 class="{{ $headerClass }}"><a class="sidebar-link-header" href="{{ .Permalink }}">Introduction</a></h3>
      <ul class="sidebar-group">
      {{ range .RegularPages }}
        <li class="sidebar-item{{ if eq $currentPage . }}-active{{ end }}"><a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      <hr class="sidebar-divide">

      {{ range .Sections }}
        <h3 class="{{ $headerClass }}"><a class="sidebar-link-header" href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <ul class="sidebar-group">
        {{ range .Pages }}
          <li class="sidebar-item{{ if eq $currentPage . }}-active{{ end }}"><a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        <hr class="sidebar-divide">
      {{ end }}


    {{ end }}

</div>
