<div class="dash-container">
  <div class="row1">
    <div class="dasha" onclick="window.location.href='/help'">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/Deploy.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Getting started</p>
        <p>Start deploying quickly with our Getting Started guides.</p>
      </div>
    </div>
    <div class="dashb">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/Faster_dev.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Migrating</p>
        <p>Migrate your existing code to Platform.sh in minutes.</p>
      </div>
    </div>
    <div class="dashc">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/handshake.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Dedicated</p>
        <p>Resources for Enterprise contracts on top of Professional.</p>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="dashd">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/apps.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Languages</p>
        <p>Go, Java, PHP, and more!</p>
      </div>
    </div>
    <div class="dashe">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/server.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Services</p>
        <p>Define your database and more with a few lines of YAML.</p>
      </div>
    </div>
    <div class="dashf">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/website.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Local development</p>
        <p>Build your site locally with Lando.</p>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="dashg">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/Expand.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Integrations</p>
        <p>Connect projects to GitHub, GitLab, and Bitbucket.</p>
      </div>
    </div>
    <div class="dashh">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/cloud.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Going live</p>
        <p>Take your production app live in a few easy steps.</p>
      </div>
    </div>
    <div class="dashi">
      <div class="icon">
        <img class="dash-icon" src="{{ "images/icons/svg/Tools.svg" | relURL }}" alt="gettingstarted">
      </div>
      <div class="desc">
        <p class="dash-title">Troubleshooting</p>
        <p>Have questions? Check our FAQs and community Q&As.</p>
      </div>
    </div>
  </div>
</div>
