blockquote {
  /* top | right | bottom | left */
  padding: 0.25rem 1rem 2rem 2rem;
  box-shadow: 0px 0.25rem 0.25rem rgba(152, 160, 171, 0.35);
  margin: 1rem;
}

.note {
  background-color: var(--psh-light-blue);
}

.info {
  background-color: var(--psh-aqua);
}

.warning {
  background-color: var(--psh-light-pink);
}

.danger {
  background-color: var(--psh-dark-pink);
}

.tiered {
  background-color: var(--psh-pastel-green);
}

blockquote code {
  color: var(--psh-blue);
  background-color: #FFFFFF;
  padding: .15rem .3rem;
  line-height: 1.7;
}
