<!-- Asciinema Player -->

{{ if not (.Page.Scratch.Get "asciinema") }}

<!-- Include asciinema only first time -->
<script src="{{ "scripts/asciinema-player.js" | relURL }}"></script>

{{ .Page.Scratch.Set "asciinema" true }}
{{ end }}

<div class="video-wrapper">
  <div class="asciinema-div">

    {{- with .Get "src" -}}
      <asciinema-player src="{{ . | relURL}}" preload=1 theme="avocadocs" size="big"></asciinema-player>
    {{end}}

  </div>

  <div class="video-desc">
    Above, the user creates a backup of a project (with project ID <code>32lnujngz2hk</code>) using the CLI command <code>platform backup:create</code>. Once the backup has completed, the user can confidently merge the <code>dev</code> environment into production. If the user wants to revert <code>master</code> back to the point where the backup was taken, they can do so with the command <code>platform backup:restore</code>.
  </div>
</div>
