{{ $url := "https://community.platform.sh/c/questions-answers.json?order=activity" }}
{{ $type := "new" }}
{{ if .IsNamedParams }}
{{ $type = .Get "type" }}
  {{ if eq $type "new" }}
    {{ $url = "https://community.platform.sh/c/questions-answers.json?order=activity" }}
  {{ else if eq $type "popular" }}
    {{ $url = "https://community.platform.sh/c/questions-answers.json?order=views" }}
  {{ end }}
{{ end }}

{{ $data := getJSON $url }}
{{ $topics := index $data "topic_list" "topics" }}

<div class="qas">

<table class="qa-summary" style="width:100%">
  <tr>
    <th><strong>Topic</strong></th>
    <th><strong>Activity</strong></th>
  </tr>

  {{ range first 10 $topics }}
    <tr>
      {{ $postURL := printf "https://community.platform.sh/t/%s" (index . "slug") }}
      <td><a href="{{ $postURL }}">{{ index . "title" }}</a></td>
      <td>{{ dateFormat "2006-01-02" ( index . "last_posted_at" ) }}</td>
    </tr>
  {{ end }}

</table>

</div>
