<div class="supported-table">
<table class="table-dark">
<thead>
  <tr>
    <th></th>
    <th>2.7</th>
    <th>3.5</th>
    <th>3.6</th>
    <th>3.7</th>
    <th>3.8</th>
  </tr>
</thead>
<tbody>
  <tr class="grid-row">
    <th class="tier">Grid</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
  </tr>
  <tr>
    <th class="tier">Dedicated</th>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
</tbody>
</table>
</div>
