<div class="supported-table">
<table class="table-dark">
<thead>
  <tr>
    <th></th>
    <th>0.12</th>
    <th>4.7</th>
    <th>4.8</th>
    <th>6</th>
    <th>6.1</th>
    <th>6.9</th>
    <th>8</th>
    <th>8.2</th>
    <th>9.8</th>
    <th>10</th>
    <th>12</th>
    <th>14</th>
  </tr>
</thead>
<tbody>
  <tr class="grid-row">
    <th class="tier">Grid</th>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
  </tr>
  <tr>
    <th class="tier">Dedicated</th>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/deprecated" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
  </tr>
</tbody>
</table>
<div class="deprecated">Deprecated versions are available but no longer receive security updates from upstream, so their use is not recommended. They will be removed at some point in the future.</div>
</div>
