<table class= "table-light">
  <tr>
  <th>Language</th>
  <th><code>runtime</code></th>
  <th>Supported <code>version</code></th>
  </tr>
  <tr>
  <td><a href="/languages/dotnet.html">C#/.Net Core</a></td>
  <td><code>dotnet</code></td>
  <td>2.0, 2.1, 2.2, 3.1</td>
  </tr>
  <tr>
  <td><a href="/languages/elixir.html">Elixir</a></td>
  <td><code>elixir</code></td>
  <td>1.9</td>
  </tr>
  <tr>
  <td><a href="/languages/go.html">Go</a></td>
  <td><code>golang</code></td>
  <td>1.11, 1.12, 1.13, 1.14</td>
  </tr>
  <tr>
  <td><a href="/languages/java.html">Java</a></td>
  <td><code>java</code></td>
  <td>11, 12, 8, 13</td>
  </tr>
  <tr>
  <td><a href="/languages/lisp.html">Lisp</a></td>
  <td><code>lisp</code></td>
  <td>1.5</td>
  </tr>
  <tr>
  <td><a href="/languages/nodejs.html">Node.js</a></td>
  <td><code>nodejs</code></td>
  <td>6, 8, 10, 12, 14</td>
  </tr>
  <tr>
  <td><a href="/languages/php.html">PHP</a></td>
  <td><code>php</code></td>
  <td>7.2, 7.3, 7.4</td>
  </tr>
  <tr>
  <td><a href="/languages/python.html">Python</a></td>
  <td><code>python</code></td>
  <td>2.7, 3.5, 3.6, 3.7, 3.8</td>
  </tr>
  <tr>
  <td><a href="/languages/ruby.html">Ruby</a></td>
  <td><code>ruby</code></td>
  <td>2.3, 2.4, 2.5, 2.6, 2.7</td>
  </tr>
</table>

<br/>

<table class= "table-dark">
  <tr>
  <th>Version</th>
  <th>Grid</th>
  <th>Dedicated</th>
  </tr>
  <tr>
  <td>5.4</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  <td>{{ partial "cross" . }}</td>
  </tr>
  <tr>
  <td>5.5</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  <td>{{ partial "cross" . }}</td>
  </tr>
  <tr>
  <td>5.6</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  </tr>
  <tr>
  <td>7.0</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  </tr>
  <tr>
  <td>7.1</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  <td>{{ partial "icons/deprecated" . }}</td>
  </tr>
  <tr>
  <td>7.2</td>
  <td>{{ partial "checkbox" . }}</td>
  <td>{{ partial "checkbox" . }}</td>
  </tr>
  <tr>
  <td>7.3</td>
  <td>{{ partial "checkbox" . }}</td>
  <td>{{ partial "checkbox" . }}</td>
  </tr>
  <tr>
  <td>7.4</td>
  <td>{{ partial "checkbox" . }}</td>
  <td>{{ partial "checkbox" . }}</td>
  </tr>
  <tr>
</table>
