
  <div class="toc">
    <h3>Contents</h3>
    <nav id="TableOfContents">
      <ul>
        <li><a href="#cnet-core">C#/.NET Core</a></li>
        <li><a href="#go">Go</a></li>
        <li><a href="#java">Java</a></li>
        <li><a href="#lisp">Lisp</a></li>
        <li><a href="#nodejs">Node.js</a></li>
        <li><a href="#php">PHP</a></li>
        <li><a href="#python">Python</a></li>
        <li><a href="#ruby">Ruby</a></li>
        <li><a href="#ruby"><code>platform get</code></a></li>
      </ul>
    </nav>
  </div>
