<div class="supported-table">
<table class="table-dark">
<thead>
  <tr>
    <th></th>
    <th>Administrator</th>
    <th>Team member</th>
    <th>Developer</th>
    <th>Unpriviledged</th>
  </tr>
</thead>
<tbody>
  <tr class="grid-row">
    <th class="tier">Create sites within org</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
  </tr>
  <tr>
    <th class="tier">Access org dashboard</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
  <tr class="grid-row">
    <th class="tier">Work in dev/multidev environments</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
  <tr>
    <th class="tier">Deploy to Test & Live</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
  <tr class="grid-row">
    <th class="tier">Manage site-level team</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
  <tr>
    <th class="tier">Delete sites or remove users from org</th>
    <td>{{ partial "icons/supported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
    <td>{{ partial "icons/unsupported" . }}</td>
  </tr>
</tbody>
</table>
</div>
