<div class="video-wrapper">
  <div class="video">
    <iframe class="video-frame" src="https://www.youtube.com/embed/axwOM-r4-vA" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
  <div class="video-desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec tortor ac odio interdum lacinia et et risus. Duis id aliquet urna, id porttitor nisi. Aliquam erat volutpat. Suspendisse porttitor congue congue. Pellentesque dapibus magna ante, rhoncus dignissim nisl laoreet eu.
  </div>
</div>
